<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Votaciones</a>
    </div>
  </nav>
</div>

<div class="container p-4">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <h3 class="card-header">Agregar Web</h3>

        <form #formVotos="ngForm" (ngSubmit)="submitEnviar()" class = "card-body" >
          <div class="mb-3">
            <label for="title" class="form-label">Titulo:</label>
            <input [(ngModel)]="objetoLink.title" #title="ngModel" required type="text" class="form-control" name="title" >
            <small *ngIf="title.invalid && title.touched" [class.red]="title.invalid && title.touched">obligatorio*</small>
            
          </div>
          <div class="mb-3">
            <label for="link" class="form-label">Link:</label>
            <input [(ngModel)]="objetoLink.link" #link="ngModel" required type="text" class="form-control" name="link" placeholder="https://ejemplo.com" >
            <small *ngIf="link.invalid && link.touched" [class.red]="link.invalid && link.touched">obligatorio*</small>
          </div> <br>

          <div class="d-grid  mx-auto">
            <button [disabled]="this.formVotos.invalid" type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>  

  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 mt-4">
      <app-link *ngFor="let itemLink of listaLinks" [datosInput]="itemLink"></app-link>
  </div>
  

</div>