
body{
background: #c7e0ee;  
background: -webkit-linear-gradient(to right, #c4e5f8, #94ccdf); 
background: linear-gradient(to right, #CFDEF3, #cce8f8); 

}

h2,h3{
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Zen Kaku Gothic Antique', sans-serif;
}